.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-50);
    padding: var(--padding-primary);
}

.nav {
    margin-left: calc(var(--padding-primary) * -1);
    margin-right: calc(var(--padding-primary) * -1);
}

.buttonCreate {
    margin-top: var(--padding-primary);
}

.buttonExit {
    margin-top: auto;
}