.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--tt-function) var(--duration-md);
}

.button:disabled:hover,
.button:disabled {
    cursor: default;
    background-color: var(--color-secondary_400);
    transition: none;
}

.button.default {
    padding: 8px 16px;
    min-height: 52px;
}

.button.md {
    padding: 8px 16px;
    min-height: 52px;
}

.button.sm {
    padding: 6px 14px;
    min-height: 40px;
}

.button.square {
    width: 28px;
    height: 28px;
    padding: 6px;
    min-height: auto;
}

/* colors */

.button.primary {
    background-color: var(--color-main_500);
    color: var(--color-white);
}

.button.primary:hover {
    background-color: var(--color-main_700);
}

.button.secondary {
    background-color: var(--color-secondary-50);
    color: var(--color-secondary-700);
    border: 1px solid var(--color-secondary-700);
}

.button.secondary:hover {
    background-color: var(--color-secondary-200);
    color: var(--color-secondary-950);
}

.button.danger {
    background-color: var(--color-error-100);
    color: var(--color-secondary-700);
    border: 1px solid var(--color-error-700);
}

.button.danger:hover {
    background-color: var(--color-error-700);
    color: var(--color-white);
}