.main {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--padding-primary);
    height: 100%;
    background-color: var(--color-secondary-200);
}

.sidebar {
    border-right: 1px solid;
    border-color: var(--color-secondary-300);
}