.cardList {

}

.inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
    padding: 1vw;
}

/* TODO: Найти способ блокировать карточки без css */
.inner > * {
    opacity: 1;
    pointer-events: auto;
    transition: opacity ease-out 0.2s;
}

.inner.loading > * {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.button {
    border: none;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    min-height: 7.2vw;
    background-color: var(--color-white);
    transition: box-shadow var(--tt-function) var(--duration-md);
    box-shadow: rgba(94, 93, 102, 0.08) 1px 1px 0px 0px,
        rgba(94, 93, 102, 0.1) 2px 2px 3px 0px;
}

.button:hover {
    box-shadow: rgba(94, 93, 102, 0.08) 1px 1px 0px 0px,
        rgba(94, 93, 102, 0.2) 2px 5px 10px 0px;
}

.button svg {
    width: 2vw;
    height: 2vw;
    pointer-events: none;
    color: var(--color-main_500);
    opacity: 0.8;
    transition: opacity var(--tt-function) var(--duration-md);
}

.button:hover svg {
    opacity: 1;
}