.cardList {

}

.inner {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-primary);
    padding: var(--padding-primary) var(--padding-primary) var(--padding-primary) 0;
}

/* TODO: Найти способ блокировать карточки без css */
.inner > * {
    opacity: 1;
    pointer-events: auto;
    transition: opacity ease-out 0.2s;
}

.inner.loading > * {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.card {
    height: var(--card-height);
}

.button {
    border: none;
    border-radius: 5px;
    width: var(--card-width);
    overflow: hidden;
    cursor: pointer;
    min-height: var(--card-height);
    background-color: var(--color-white);
    transition: box-shadow var(--tt-function) var(--duration-md);
    box-shadow: var(--card-shadow);
}

.button:hover {
    box-shadow: var(--card-shadow-hover);
}

.button svg {
    width: 34px;
    height: 34px;
    pointer-events: none;
    color: var(--color-primary-900);
    opacity: 0.8;
    transition: opacity var(--tt-function) var(--duration-md);
}

.button:hover svg {
    opacity: 1;
}