.card {
    position: relative;
    border-radius: 5px;
    width: var(--card-width);
    overflow: hidden;
    background-color: var(--color-white);
    transition: box-shadow var(--tt-function) var(--duration-md);
    box-shadow: var(--card-shadow);
}

.card:hover {
    box-shadow: var(--card-shadow-hover);
}

.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
}

.link > * {
    pointer-events: none;
}

.main {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    flex-grow: 1;
}

.logo {
    display: block;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 4px;
    object-fit: cover;
}

.logoPlug {
    background-color: var(--color-secondary-300);
}

.title {
    margin: 0;
    font-weight: 400;
    color: var(--color-secondary-700);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    padding: 10px;
    border-top: 1px solid var(--color-secondary-300);
    box-sizing: border-box;
    min-height: 40px;
}

.footer p {
    font-size: 12px;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-secondary-400);
    margin: 0;
}

.buttons {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 5;
    display: flex;
    gap: 6px;
    transform: translateY(40px);
    transition: transform var(--tt-function) var(--duration-md);
}

.card:hover .buttons {
    transform: translateY(0px);
}