.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.text {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
}

.loader {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-primary-950);
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
}

.loading .loader {
    opacity: 1;
    transition: opacity ease-out 0.2s;
}