.nav {
    border-top: 1px solid var(--color-secondary-300);
}

.item {
    position: relative;
    overflow: hidden;
}

.item .button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) translateX(50px);
    transition: 
        transform var(--tt-function) var(--duration-md),
        background-color var(--tt-function) var(--duration-md);
}

.item:hover .button {
    transform: translateY(-50%) translateX(0px);
}

.link {
    display: flex;
    padding: 10px var(--padding-primary);
    cursor: pointer;
    color: var(--color-secondary-700);
    border-bottom: 1px solid var(--color-secondary-300);
    font-size: 16px;
}

.link:hover {
    background-color: var(--color-primary-50);
}

.linkActive {
    color: var(--color-primary-600);
    background-color: var(--color-primary-50);
}